<!DOCTYPE html>
<html>
<head>
    <title>Search Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Search Student</h2>

    <form method="POST">
        <input type="number" name="student_id" placeholder="Enter ID" required>
        <button type="submit">Search</button>
    </form>

    {% if student %}
        <h3>Result:</h3>
        <p>ID: {{ student[0] }}</p>
        <p>Name: {{ student[1] }}</p>
        <p>Department: {{ student[2] }}</p>
    {% elif student is not none %}
        <p>No student found</p>
    {% endif %}

    <br>
    <a href="/dashboard">Back</a>
</div>

</body>
</html>
